* {
    margin:0%;
    padding:0%;
    text-align: center;
}
h1{
    background-color: darkslateblue;
    color: white;
    line-height: 5rem;
}
img{
    height: 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 60%;
}

.choice:Hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 40%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding:1.5rem;
    border-radius: 50%;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
    padding: 2rem;
}

.message-container{
    margin: 5rem;

}

#msg{
    background-color: darkslateblue;
    color:aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}



